.paper {
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;

  @media (min-width: 415px) {
    display: none;
  }
}

.drawerPaper {
  max-height: 85% !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  div[class*="SideComments_root"] {
    width: 100%;
    max-width: 100% !important;
  }
}
