.wrapper {
  background: #27272e;
  font-size: 14px;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 55px;
  padding: 20px 0;
  max-width: 1400px;

  @media (max-width: 414px) {
    padding: 0 15px 0 0;
  }

  :global {
    .search-field-enter {
      opacity: 0;
      transform: translateX(-3px);
    }
    .search-field-enter-active {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 200ms, transform 200ms;
    }
    .search-field-exit {
      transform: translateX(0px);
      opacity: 0;
    }
    .search-field-exit-active,
    .search-field-exit-done {
      opacity: 0;
      transform: translateX(-3px);
      transition: opacity 200ms, transform 200ms;
    }
  }
}

.headerLogo {
  @media (min-width: 415px) {
    margin-right: 60px;
  }
  @media (max-width: 414px) {
    margin-right: 80px;
    position: relative;
    top: 1px;
  }
}

.headerLogoAuth {
  @media (min-width: 415px) {
    margin-right: 60px;
  }
}

.headerSide {
  display: flex;
  align-items: center;
}

.headerLinks {
  display: flex;

  @media (max-width: 414px) {
    display: none;
  }
}

.loginButton {
  @media (max-width: 414px) {
    display: none;
  }
}

.headerSideSearch {
  max-width: 985px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 414px) {
    max-width: 90%;
  }

  input {
    flex: 0 0 89%;
    outline: none;
  }
}

.headerMiniButtons {
  display: flex;
  align-items: center;
  margin-right: 30px;

  @media (max-width: 414px) {
    margin-right: 0px;
  }

  svg {
    cursor: pointer;
  }
}

.podcastButton {
  color: white;
  cursor: pointer;
  text-transform: unset;
  font-weight: 400;

  .text {
    margin-left: 10px;
  }
}

.writeButton {
  margin-left: 15px;

  svg {
    display: none;
  }

  @media (max-width: 414px) {
    min-width: 40px;
    width: 40px;
    margin-left: 20px;

    span {
      display: none;
    }
    svg {
      display: block;
    }
  }
}

.profile {
  @media (max-width: 414px) {
    display: none;
  }
}

.icons {
  display: flex;
  align-items: center;
  div {
    margin-left: 15px;
  }
}

.backdrop {
  z-index: 1;
  top: 55px;
}

.search {
  margin-left: 20%;
}

.input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  width: 440px;
  border: none !important;

  &:focus {
    border: none !important;
  }
}

.noscroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
