@import "../../styles/colors";

.userName {
  display: flex;
  flex-direction: column;
}

.mainAvatar {
  cursor: pointer;
  width: 34px !important;
  height: 34px !important;

  @media (max-width: 414px) {
    width: 28px !important;
    height: 28px !important;
  }
}

.link {
  width: 100%;
  color: $black;
}

.popover {
  .section1 {
    display: flex;
    align-items: center;
    padding: 20px 20px 15px 20px;
    color: #000;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    width: 38px;
    height: 38px;
    margin-right: 10px;
  }

  .name {
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
  }

  .login {
    color: var(--text-color-dark);
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
  }
}
