.letterAvatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #666;
  text-align: center;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
