@import "../../styles/colors";

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 30px;

  @media (max-width: 414px) {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.badge {
  margin-right: 10px;
  span {
    color: #fff !important;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 10px;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-left: -5px;

  i {
    margin-right: 10px;
  }

  &:hover {
    background-color: $grayTag;
  }

  &:active {
    background-color: darken($grayTag, 0.02);
  }
}

.active {
  background-color: darken($grayTag, 0.2%);
}

.title {
  color: $gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;
  margin-bottom: 15px;
}

.itemIcon {
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 8px;
  position: relative;
  top: -1px;
  box-shadow: 0px 0px 0 1px inset rgba(0, 0, 0, 0.1);
}
