.loadMore {
  width: 100%;
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;

  .button {
    width: 100%;
    height: 52px;
    font-weight: normal;
  }
}
