@mixin desktop-2k {
  @media (max-width: 2300px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablets {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin phone-lg {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phone-m {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin phone-s {
  @media (max-width: 380px) {
    @content;
  }
}
