@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: "Formular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  max-width: 780px;
  margin: 40px auto;

  p {
    line-height: 24px;
  }

  h1,
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.profile-edit-wrapper {
  max-width: 600px;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
  flex: 1;
  width: 100%;

  &-items {
    @media (min-width: 415px) {
      width: 85%;
    }
    @media (max-width: 414px) {
      width: 100%;
    }
  }

  @media (max-width: 414px) {
    margin: 20px 20px 80px 20px;
  }
}

.sideBar {
  @media (max-width: 414px) {
    display: none;
  }
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-BlackItalic.eot");
  src: local("Formular Black Italic"), local("Formular-BlackItalic"),
    url("/fonts/Formular-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-BlackItalic.woff2") format("woff2"),
    url("/fonts/Formular-BlackItalic.woff") format("woff"),
    url("/fonts/Formular-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-MediumItalic.eot");
  src: local("Formular Medium Italic"), local("Formular-MediumItalic"),
    url("/fonts/Formular-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-MediumItalic.woff2") format("woff2"),
    url("/fonts/Formular-MediumItalic.woff") format("woff"),
    url("/fonts/Formular-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-Italic.eot");
  src: local("Formular Italic"), local("Formular-Italic"),
    url("/fonts/Formular-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-Italic.woff2") format("woff2"),
    url("/fonts/Formular-Italic.woff") format("woff"),
    url("/fonts/Formular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-LightItalic.eot");
  src: local("Formular Light Italic"), local("Formular-LightItalic"),
    url("/fonts/Formular-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-LightItalic.woff2") format("woff2"),
    url("/fonts/Formular-LightItalic.woff") format("woff"),
    url("/fonts/Formular-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-Black.eot");
  src: local("Formular Black"), local("Formular-Black"),
    url("/fonts/Formular-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-Black.woff2") format("woff2"),
    url("/fonts/Formular-Black.woff") format("woff"),
    url("/fonts/Formular-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-Light.eot");
  src: local("Formular Light"), local("Formular-Light"),
    url("/fonts/Formular-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-Light.woff2") format("woff2"),
    url("/fonts/Formular-Light.woff") format("woff"),
    url("/fonts/Formular-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular.eot");
  src: local("Formular"),
    url("/fonts/Formular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular.woff2") format("woff2"),
    url("/fonts/Formular.woff") format("woff"),
    url("/fonts/Formular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-Medium.eot");
  src: local("Formular Medium"), local("Formular-Medium"),
    url("/fonts/Formular-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-Medium.woff2") format("woff2"),
    url("/fonts/Formular-Medium.woff") format("woff"),
    url("/fonts/Formular-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-BoldItalic.eot");
  src: local("Formular Bold Italic"), local("Formular-BoldItalic"),
    url("/fonts/Formular-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-BoldItalic.woff2") format("woff2"),
    url("/fonts/Formular-BoldItalic.woff") format("woff"),
    url("/fonts/Formular-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Formular";
  src: url("/fonts/Formular-Bold.eot");
  src: local("Formular Bold"), local("Formular-Bold"),
    url("/fonts/Formular-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Formular-Bold.woff2") format("woff2"),
    url("/fonts/Formular-Bold.woff") format("woff"),
    url("/fonts/Formular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

.green-btn {
  background-color: #40d269 !important;
  color: #fff !important;
}

.link {
  color: #40d269 !important;
  cursor: pointer;

  &:hover {
    color: darken(#40d269, 10%) !important;
  }
}

.sideComments {
  @media (max-width: 414px) {
    display: none;
  }
}

.singleImage {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.medium-zoom-overlay {
  background: rgb(0 0 0 / 70%) !important;
  z-index: 1;
}

.medium-zoom-image--opened {
  z-index: 1;
}
