.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @media (max-width: 414px) {
    font-size: 18px;
    margin-top: 20px;
  }
}

.popularUser {
  margin-bottom: 15px;

  @media (max-width: 414px) {
    b {
      font-size: 16px !important;
    }
    span {
      font-size: 14px !important;
    }
  }
}
